.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    //background: #f4f4f4;
    color: #FFF;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    border: 1px solid white;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #FFF;
    font-size: .8rem;
    font-style: italic;
  }
}