.header {
  padding: 1rem 0 3rem;
}

.title {
  font-size: 3rem;
  text-decoration: none;
  color: #FFF;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #FFF;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #FFF;
  text-decoration: underline;
}

.active-nav-item {
  color: #FFF;
  text-decoration: none;
}